<!DOCTYPE html>
<html>
  <head>
    <title>Learn It</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('lightbulb.png')%>
    <script src="https://kit.fontawesome.com/7bdd1d32e3.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
